.home {
  max-width: 700px;
  width: 93%;
  padding: 1rem 0;
  margin: 1rem auto;
  .posts {
    margin: auto;
    .create {
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding: 1rem 1rem 1.5rem;
      border-radius: 0.3rem;
      h3 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
      }
      textarea {
        width: 100%;
        padding: 0.3rem;
        font-size: 1rem;
        height: 4rem;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 0.3rem;
        outline: none;
      }
      label {
        display: block;
        margin: 1rem 0 0rem;
        border: 1px solid #000;
        color: #000;
        padding: 0.5rem 1rem;
        cursor: pointer;
        text-align: center;
        span {
          margin-left: 0.5rem;
        }
      }
      .displayImage {
        width: 100%;
        cursor: pointer;
        margin: 1.5rem 0 1rem;
      }
      button {
        border: none;
        outline: none;
        font-size: 1.1rem;
        padding: 0.4rem 3rem;
        text-align: center;
        cursor: pointer;
        color: #fff;
        background-color: #000;
        margin-right: auto;
        border-radius: 0.3rem;
        @media (max-width: 768px) {
          font-size: 0.9rem;
        }
      }
    }
    .loading {
      margin-top: 1rem;
      text-align: center;
    }
  }
}
