.container {
  max-width: 800px;
  width: 95%;
  margin: 3rem auto;
  h2 {
    margin-bottom: 1rem;
    @media (max-width: 768px) {
      font-size: 1.4rem;
    }
    span {
      margin-left: 0.3rem;
      padding-top: 0.1rem;
    }
  }
  .commentsWrapper {
    form {
      textarea {
        width: 100%;
        padding: 0.3rem 0.4rem;
        font-size: 1rem;
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.5);
        resize: none;
      }
      .btn-wrapper {
        text-align: end;
        margin-top: 1rem;
        button {
          font-size: 1rem;
          padding: 0.4rem 2rem;
          cursor: pointer;
          outline: none;
          border: 1px solid #000;
          background-color: #fff;
        }
      }
    }
    .comments {
      .comment {
        margin-top: 2.5rem;
        display: flex;
        align-items: flex-start;
        margin: 1rem 0;
        background-color: rgba(0, 0, 0, 0.07);
        padding: 1rem 0.8rem;
        @media (max-width: 768px) {
          padding: 1rem 0.6rem;
        }
        img {
          width: 2.3rem;
          height: 2.3rem;
          border-radius: 50%;
          object-fit: cover;
          @media (max-width: 768px) {
            width: 2rem;
            height: 2rem;
          }
        }
        .details {
          width: 100%;
          margin-left: 1rem;
          @media (max-width: 768px) {
            margin-left: 0.8rem;
            width: 90%;
          }
          @media (max-width: 500px) {
            margin-left: 0.8rem;
            width: 86%;
          }
          .meta {
            display: flex;
            align-items: center;
            justify-content: space-between;
            p,
            .name {
              color: #000;
              text-decoration: none;
              font-size: 0.85rem;
              font-weight: 700;
              @media (max-width: 768px) {
                font-size: 0.8rem;
              }
            }
            p {
              color: rgba(0, 0, 0, 0.8);
              font-size: 0.8rem;
              font-weight: 500;
              @media (max-width: 768px) {
                font-weight: 0.75;
              }
              @media (max-width: 500px) {
                font-size: 0.7rem;
              }
            }
          }
          .text {
            margin-top: 0.1rem;
            p {
              font-size: 0.9rem;
              word-wrap: break-word;
              @media (max-width: 500px) {
                font-size: 0.8rem;
              }
            }
            .actions {
              cursor: pointer;
              text-align: end;
              margin-top: 1rem;
              p {
                font-size: 0.9rem;
                display: inline-block;
                background-color: #ff2626;
                padding: 0.2rem 2rem 0.3rem;
                color: #fff;
                @media (max-width: 768px) {
                  padding: 0.3rem 2rem;
                  font-size: 0.8rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
