.settings {
  max-width: 700px;
  width: 95%;
  margin: 3rem auto;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  .header {
    text-align: center;
    padding: 2rem 1rem;
    padding-bottom: 1rem;
    img {
      width: 5rem;
      height: 5rem;
      border: 50%;
    }
    p {
      margin-top: 0.5rem;
      font-size: 1.3rem;
    }
  }
  .nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 0.6rem;
    text-align: center;
    .item {
      display: inline-block;
      padding: 0.5rem 3rem;
      cursor: pointer;
      font-size: 0.95rem;
      @media (max-width: 768px) {
        padding: 0.3rem 1.4rem;
        font-size: 0.9rem;
      }
    }
    .item.active {
      border-bottom: 3px solid black;
    }
  }
  .body {
    padding: 1rem 1.5rem;
  }
}
